name: 'Terraform Deploy'

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform -chdir=./terraform init -backend-config="key=tfstats-dev"

      - name: Terraform Validate
        id: validate
        run: terraform validate

      - name: Terraform Plan
        id: plan
        if: success()
        run: terraform -chdir=./terraform plan -var-file=./envs/dev/tf.tfvars -lock-timeout=60s -refresh=true -parallelism=10
